* {
  margin: 0px;
  padding: 0px;
}
html,
body {
  font-size: 16px;
}
.sun-editor {
  margin-bottom: 2em;
}
.sun-editor-editable {
  height: 400px !important;
}
.se-resizing-bar {
  display: none !important;
}
